<div class="container top-margin">
  <app-fade-in duration="0.5s">
    <h1 class="header center-align">📝 Project Pitch</h1>
  </app-fade-in>
  <app-fade-in duration="0.75s">
    <h6 class="center-align">Look below or visit this link
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1d8zvii8JdK6VQvEkMweMmh7UijtQROgo/view?usp=sharing" class="links">here</a>
    </h6>
    <iframe src="assets/Project%20Pitch.pdf" class="resume-pdf"></iframe>
  </app-fade-in>
</div>
