html {
    scroll-behavior: smooth;
  }

header, main, footer {
    padding-left: 300px;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

p {
  font-size: larger;
}

span {
  white-space: pre;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.largetext {
  font-size: 25px;
}

.smalltext {
  font-size: 20px;
}

.smallertext {
  font-size: 17px;
}

.tinytext {
  font-size: 13px;
}

.resize {
  width: 100px;
  height: auto;
}

.resize {
  width: auto;
  height: 50px;
}
.leftalign {
  text-align: left;
  padding-left: 50px;
}
.shadow {
  box-shadow: 3px 3px 5px black; 
  width: 200px;
}

.button {
  background:    linear-gradient(#e96443, #ff5f6d);
  border-radius: 1px;
  padding:       10px 19px;
  color:         #FFF;
  display:       inline-block;
  font:          normal 20px/1 "Noto Sans", sans-serif;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding {
  max-width: 700px;
}

.col-container {
  display: flex; 
  width: 100%; 
}

.project-col {
  flex: 1;
  padding: 16px;
}

.max-height {
  height: 100%;
}

.card-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bgimg-1 {
  background-image: url('./static/background.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-color: black;
}
.full {
    height: 100vh;
  }

.center {
  text-align: center;
}

.filter {
    opacity: 0.75 !important;
}

ul.arrowlist > li::before {
  content: "> ";
}

.parallax img {
    width: 60%;
}

@media only screen and (max-width : 992px) {
header, main, footer {
    padding-left: 0;
}
}
        