html {
    scroll-behavior: smooth;
  }

header, main, footer {
    padding-left: 300px;
}

body {
  font-family: "Noto Sans";
  font-weight: bold;
}

div {
  display: block;
}

div > img {
  margin-top: 30%;
}

nav {
  position: fixed;
  border-bottom: 1.5px solid~ #000;
}

/* .row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
  border-top: 1.5px solid black;
} */

.box {
  /* margin: 50px; */
  padding: 20px;
}

.btn {
  text-transform: none;
  /* background-color: #f48fb1; */
}

.btn-layered {
  border: 2px solid #000;
  line-height: 1;
  padding: 10px 26px;
  transition: .2s ease-out;
  -webkit-transition: .1s ease-out;
  color: #000;
}

.btn-layered:hover {
  background-color: #f48fb1 !important;
}

.offset {
  box-shadow: 0.4em 0.3em 0 0 #000;
}

.shadow-circle{
  border: 1.5px solid black;
  /* box-shadow: 0px 0px 0px 10px blue; */
  /* border-radius: 50%; */
}

.square {
  border-radius: 0!important;
}

.title {
  font-weight: 800;
}