*:focus {
  outline: none !important;
}
html {
  scroll-behavior: smooth;
}
header, main, footer {
  padding-left: 300px;
}
h3 {
  display: inline-block;
  margin: 0;
}
body {
  font-family: "Noto Sans";
  font-weight: bold;
}
nav {
  position: fixed;
  border-bottom: 1.5px solid #000;
  z-index: 999;
}
p {
  font-weight: 500;
}
ul.arrowlist > li::before {
  content: "> ";
}
div.modal.open {
  font-family: "Noto Sans";
  display: block;
  opacity: 1;
  transform: scaleX(1);
  height: 100%;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0.4em 0.3em 0 0 #000;
  color: black;
  padding: 20px;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
}
.anchor-point {
  position: relative;
  top: -50px;
}
.btn {
  text-transform: none;
  border: 2px solid black;
  line-height: 1;
  transition: .2s ease-out;
  -webkit-transition: .1s ease-out;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #f48fb1 !important;
  transform: translate(2px, 2px);
}
.btn-weight {
  font-weight: 700;
  font-size: medium;
  margin-top: 37px;
}
.centered {
  position: relative;
  top: 50%;
  margin-left: 16.5%;
  transform: translateY(-50%) 
}
.name {
  font-size: 25px;
}
.full {
  height: 100vh;
}
.landing-text {
  max-width: 400px;
}
.offset {
  box-shadow: 0.4em 0.3em 0 0 #000;
}
.card-body {
  font-size: 20px;
}
.resize {
  width: 150px;
  height: auto;
}
.resume-btn {
  position: absolute;
  display: inline-block;
  background-color: white;
  margin-left: 30%;
}
.shadow-circle{
  box-shadow: 3px 3px 5px black;
  width: 140;
}
.title {
  font-weight: 800;
  margin-top: 30px;
}
.img-position {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: auto;
  margin: 20px 20px;
  padding-left: 10px;
}
.view-height {
  min-height: 150vh;
}
.card {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
}
.project-card {
  cursor: pointer;
  transition: .2s ease-out;
  -webkit-transition: .1s ease-out;
}
.project-card:hover {
  transform: translate(2px, 2px);
}
.grid-container {   
  display: grid;
  grid-auto-rows: minmax(350, auto);
  grid-gap: 2em;
  justify-content: center;
}
.grid-experience-column {
  grid-template-columns: repeat(1, minmax(350px, 1fr));
}
.grid-project-column {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.grid-card-margin {
  margin-left: 23.5%;
  margin-right: 23.5%;
}
.project-title-margin {
  margin-left: 27.5%;
  margin-bottom: 2%;
}
.project-text {
  font-size: 16px;
  font-weight: 300;
}
.parent {
  position: relative;
}