:root {
    --main-background: #fafafa;
    --highlight: #64FFDA;
    --pink: #FF6489;
}  

*:focus {
    outline: none !important;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
    
.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
  
.subheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
  
.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
  
.small-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}
  
.quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
}

.top-margin {
    margin-top: 5%;
}