<nav>
    <div class="nav-container">
        <a href="" data-target="mobile-menu" class="sidenav-trigger brand-logo right"><i class="material-icons black-text">menu</i></a>
        <a href="" class="black-text subheader left"><b>Tiffany Phan</b></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="experience" class="black-text link">Portfolio</a></li>
            <li><a href="projects" class="black-text link">Resume</a></li>
            <li><a href="https://github.com/TiffanyVPhan" target="_blank" class="black-text link">Github</a></li>
            <li><a href="https://www.linkedin.com/in/tiffanyvophan/" target="_blank" class="black-text link">LinkedIn</a></li>
            <li><a href="mailto:tiffany.phan@colorado.edu" class="black-text btn resume-btn white offset">Contact Me</a></li>
        </ul>
    </div>
</nav>

<!-- TODO: look into js init materialize -->
<ul class="sidenav" id="mobile-menu">
    <h3 class="center">Navigation</h3>
    <li><a href="" class="black-text">Home</a></li>
    <li><a href="experience" class="black-text">Experience</a></li>
    <li><a href="projects" class="black-text">Projects</a></li>
    <li><a href="https://github.com/TiffanyVPhan" target="_blank" class="black-text">Github</a></li>
    <li><a href="https://www.linkedin.com/in/tiffanyvophan/" target="_blank" class="black-text">LinkedIn</a></li>
    <li><a href="mailto:tiffany.phan@colorado.edu" class="black-text btn resume-btn white offset">Hire Me</a></li>
</ul>
