<div class="container top-margin">
  <app-fade-in duration="0.5s">
    <h1 class="header center-align">📝 Prototype</h1>
  </app-fade-in>
  <app-fade-in duration="0.75s">
    <h6 class="center-align">Visit my prototype on Figma
      <a target="_blank" rel="noopener noreferrer" href="https://www.figma.com/proto/lqbN7BFjscKFaQGVgPxF8R/Design-system-for-React-%26-Figma.-Web-app-templates-(Community)?node-id=13164%3A95843&scaling=scale-down&starting-point-node-id=13164%3A95843" class="links">here</a>.
    </h6>

    <h6 class="center-align">View my study tasks
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1hFHDtOMof2nrRYZ7rp5aRIIQDF7Piu9n/view?usp=sharing" class="links">here</a>
      or look below.
      <iframe src="assets/Study%20Tasks.pdf" class="resume-pdf"></iframe>
    </h6>
  </app-fade-in>
</div>
