.side-box {
    border-left: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 36px;
    padding-right: 20px;
}

.tagline {
    margin-top: -5%;
}

.top-margin {
    margin-top: 10%;
}

.small-font {
    font-size: 18px;
}

.cropped {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
    margin-top: 5%;
}

.about-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.side-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.side-text-bold {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}