<div class="container">
    <div class="top-margin">
        <div class="row">
            <div class="col s7">
                <p class="header">Tiffany Phan</p>
                <p class="small-body tagline small-font">Human-Centered · Collaborative · Motivated</p>
                <!-- <p class="body">I am currently a B.S. + M.S. student at the University of Colorado at Boulder.</p> -->
                <blockquote class="subheader">I tell my students, 'When you get these jobs that 
                    you have been so brilliantly trained for, just remember that your real job is 
                    that if you are free, you need to free somebody else. If you have some power, 
                    then your job is to empower somebody else. This is not just a grab-bag candy game.” - Toni Morrison
                </blockquote>
                <p class="about-body">As Toni Morrison said in the quote above, everybody 
                    has the power and opportunity to empower others. I believe that it is 
                    our duty to support and help other people who may not
                    necessarily have the means to support themselves.
                </p>
                <p class="about-body">Bringing this idea into computer science and software development,
                    I aim to use my software development skills to enrich and better the lives of people.
                    I want to
                </p>
            </div>
            <div class="col s5 ">
                <div class="cropped">
                    <img src="assets/tiff3.jpg" alt="" class="circle responsive-img grey lighten-5 z-depth-1">
                </div>
                <div class="side-box">
                    <b><h5 class="subheader">Contact</h5></b>
                    <a href="mailto: tiffany.phan@colorado.edu" class="side-text">tiffany.phan@colorado.edu</a>
                    <br>
                    <a href="https://www.linkedin.com/in/tiffanyvophan/" target="_blank" class="side-text">LinkedIn</a>
                </div>
                <div class="side-box">
                    <b><h5 class="subheader">Education</h5></b>
                    <span class="body">University of Colorado at Boulder</span>
                    <br>
                    <span class="side-text">B.S. Computer Science</span>
                    <br>
                    <span class="side-text">M.S. Computer Science</span>
                </div>
                <div class="side-box">
                    <b><h5 class="subheader">Awards</h5></b>
                    <span class="side-text">T9Hacks 2020 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Best Creative Technology Winner</span>
                    <br><br>
                    <span class="side-text">T9Hacks 2019 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Best Community Hack Winner</span>
                    <br><br>
                    <span class="side-text">Lucid Coding Challenge 2019</span>
                    <br>
                    <span class="side-text-bold">First Place</span>
                    <br><br>
                    <span class="side-text">Local Hack Day 2018 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Most Random Hack Winner</span>
                    <br><br>
                </div>
                <div class="side-box">
                    <b><h5 class="subheader">Interests</h5></b>
                    <span class="side-text">Cooking</span>
                    <br>
                    <span class="side-text">Baking</span>
                    <br>
                    <span class="side-text">Gardening</span>
                    <br>
                    <span class="side-text">Trying out new foods</span>
                    <br>
                    <span class="side-text">Piano & R&B</span>
                </div>
            </div>
        </div>
    </div>
</div>