<div class="container">
    <div class="top-margin">
        <div class="row">
            <div class="col s7">
                <p class="header">Tiffany Phan</p>
                <p class="small-body tagline small-font">Data-driven · Collaborative · Motivated</p>
                <p class="body">I am currently a B.S. + M.S. student at the University of Colorado at Boulder.</p>
            </div>
            <div class="col s5 ">
                <div class="cropped">
                    <img src="assets/tiff3.jpg" alt="" class="circle responsive-img grey lighten-5 z-depth-1">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s7">
            </div>
            <div class="col s5">
                <div class="side-box">
                    <b><h5 class="subheader">Contact</h5></b>
                    <a href="mailto: tiffany.phan@colorado.edu" class="side-text">tiffany.phan@colorado.edu</a>
                    <br>
                    <a href="https://www.linkedin.com/in/tiffanyvophan/" target="_blank" class="side-text">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s7">
            </div>
            <div class="col s5">
                <div class="side-box">
                    <b><h5 class="subheader">Education</h5></b>
                    <span class="body">University of Colorado at Boulder</span>
                    <br>
                    <span class="side-text">B.S. Computer Science</span>
                    <br>
                    <span class="side-text">M.S. Computer Science</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s7">
            </div>
            <div class="col s5">
                <div class="side-box">
                    <b><h5 class="subheader">Awards</h5></b>
                    <span class="side-text">T9Hacks 2020 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Best Creative Technology Winner</span>
                    <br><br>
                    <span class="side-text">T9Hacks 2019 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Best Community Hack Winner</span>
                    <br><br>
                    <span class="side-text">Lucid Coding Challenge 2019</span>
                    <br>
                    <span class="side-text-bold">First Place</span>
                    <br><br>
                    <span class="side-text">Local Hack Day 2018 Hackathon</span>
                    <br>
                    <span class="side-text-bold">Most Random Hack Winner</span>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>