<footer class="page-footer">
    <a href="https://github.com/TiffanyVPhan" target="_blank" class="black-text link">
        <img src="./assets/github.png" class="center" alt="Github">
    </a>
    <a href="https://www.linkedin.com/in/tiffanyvophan/" target="_blank" class="black-text link">
        <img src="./assets/linkedin.png" class="center" alt="LinkedIn">
    </a>
    <!-- <a href="mailto:tiffany.phan@colorado.edu">
        <i class="center material-icons">email</i>
    </a> -->
    
</footer>
