img {
    width: 19px;
}

footer {
    text-align: center;
    background-color: var(--main-background);
    margin-top: 1%;
    margin-bottom: 1%;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
}
