<div class="vh">
  <div class="container">
    <div class="top-margin">
      <app-fade-in duration="0.5s">
        <h4 class="header center-align intro-text">
          User-Centered Design & Analysis, Fall 2021
        </h4>
      </app-fade-in>
      <app-fade-in duration="0.75s">
        <h5>Project Name: [insert project name here]</h5>

        <h5>Project Description</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti est, nesciunt! Consectetur consequuntur dolor et, exercitationem illo illum in laudantium nesciunt nobis, non numquam sit? Cumque impedit numquam pariatur suscipit?</p>

        <h5>Team Members</h5>
        <p>Tiffany Phan</p>
        <p>
          Email: <a href="mailto: tiffany.phan@colorado.edu" class="links">tiffany.phan@colorado.edu</a>
        </p>

        <h5>Project Deliverable Links</h5>
        <div class="collection">
          <a [routerLink]="['/ucd/project-pitch']" class="collection-item blue-text">Project Pitch, due 09/15</a>
        </div>
      </app-fade-in>
    </div>
  </div>
</div>
