<div class="vh">
  <div class="container">
    <div class="top-margin">
      <app-fade-in duration="0.5s">
        <h4 class="header center-align intro-text">
          User-Centered Design & Analysis, Fall 2021
        </h4>
      </app-fade-in>
      <app-fade-in duration="0.75s">
        <h5>Project Name</h5>
        <strong>BusyCooker</strong>

        <h5>Project Description</h5>
        <p>BusyCooker is a mobile application that helps busy people who spend a lot of money eating out with low-effort,
          quick, and healthy recipes, and track how much money they save by not eating out. Nowadays, people sacrifice
          their cooking time to continue working for their job, school, etc., by either skipping meals or eating out for
          convenience. This application suggests recipes that are quick and easy to make to help people find a better balance
          between their meals and work while also keeping them accountable by tracking what meals they cook at home and how
          much money they save by doing so.
        </p>

        <h5>Team Members</h5>
        <p>Tiffany Phan</p>
        <p>
          Email: <a href="mailto: tiffany.phan@colorado.edu" class="links">tiffany.phan@colorado.edu</a>
        </p>

        <h5>Project Deliverable Links</h5>
        <div class="collection">
          <a [routerLink]="['/ucd/project-pitch']" class="collection-item blue-text">Project Pitch, due 09/15</a>
          <a [routerLink]="['/ucd/user-research']" class="collection-item blue-text">User Research, due 10/15</a>
          <a [routerLink]="['/ucd/prototype']" class="collection-item blue-text">Prototype, due 10/24</a>
          <a [routerLink]="['/ucd/user-testing']" class="collection-item blue-text">User Testing & Revised Prototype, due 11/21</a>
        </div>
      </app-fade-in>
    </div>
  </div>
</div>
