<div class="bg">
    <div class="container">
        <div class="top-margin">
            <h4 class="header center-align intro-text">Hi, I'm Tiffany.
                I am interested in creating 
                <span class="highlight">rich</span> and <span class="highlight">interactive</span> 
                products to advance the lives of others through front-end development and data science.
            </h4>

            <p class="center-align small-body desc">
                Computer Science @ 
                    <span class="text-color">University of Colorado at Boulder</span>.
                Former Software Engineering Intern @ 
                    <span class="text-color">Visa</span>.
                Former Big Data Analyst Intern @ 
                    <span class="text-color">UCLA</span>.
            </p>
           
        </div>
        <!-- <app-card>hi</app-card> -->
    </div>
</div>
