<div class="vh">
    <div class="container">
        <div class="top-margin">
            <app-fade-in duration="0.5s">
                <h4 class="header center-align intro-text"><span class="wave">👋</span>, I'm Tiffany.
                    I am interested in creating 
                    <span class="highlight">rich</span> and <span class="highlight">interactive</span> 
                    products to advance the lives of others through front-end development and data science.
                </h4>
            </app-fade-in>
            <app-fade-in duration="0.75s">
                <p class="center-align small-body desc">
                    <span>
                        BS/MS Computer Science @ 
                            <a href="https://www.colorado.edu/cs/" target="_blank" class="text-color">University of Colorado Boulder</a>.
                    </span>
                    <!-- <span>
                        Incoming Software Engineer Intern @
                            <a href="https://www.splunk.com/" target="_blank" class="text-color">Splunk</a>.
                    </span> -->
                    <span>
                        Former Software Engineer Intern @ 
                            <a href="https://usa.visa.com/" target="_blank" class="text-color">Visa</a>.
                    </span>
                    <span>
                        Former Big Data Analyst Intern @ 
                            <a href="https://qcb.ucla.edu/big-summer/big2019-2/" target="_blank" class="text-color">UCLA</a>.
                    </span>
                </p>
            </app-fade-in>
           
            <app-fade-in duration="1s">
                <p class="center-align subheader italics">Currently working on adding projects 
                    to this website! For now, please visit my 
                    <a href="https://github.com/TiffanyVPhan" target="_blank" class="text-color">Github</a> or 
                    <a href="https://devpost.com/TiffanyVPhan" target="_blank" class="text-color">DevPost</a> 
                    for a showcase of my projects.</p>
            </app-fade-in>
        </div>
        <!-- <app-fade-in duration="1.25s">
            <div class="card-grid">
                <app-card imgSrc="assets/visa.jpg" title="Visa">
                    <div tech></div>
                    <div desk></div>
                </app-card>
                <app-card imgSrc="assets/big-summer.jpg" title="UCLA">
                    <div tech></div>
                    <div desk></div>
                </app-card>
            </div>
        </app-fade-in> -->
    </div>
</div>
