<div class="bg">
    <div class="container">
        <div class="top-margin">
            <app-fade-in duration="0.5s">
                <div class="droplet"></div>
                <h4 class="header center-align intro-text">👋, I'm Tiffany.
                    I am interested in creating 
                    <span class="highlight">rich</span> and <span class="highlight">interactive</span> 
                    products to advance the lives of others through front-end development and data science.
                </h4>
            </app-fade-in>
            <app-fade-in duration="0.75s">
                <p class="center-align small-body desc">
                    Computer Science @ 
                        <span class="text-color">University of Colorado at Boulder</span>.
                    Former Software Engineering Intern @ 
                        <span class="text-color">Visa</span>.
                    Former Big Data Analyst Intern @ 
                        <span class="text-color">UCLA</span>.
                </p>
            </app-fade-in>
           
            <app-fade-in duration="1s">
                <p class="center-align subheader italics">Currently working on adding projects 
                    to this website! For now, please visit my 
                    <a href="https://github.com/TiffanyVPhan" target="_blank" class="text-color">Github</a> or 
                    <a href="https://devpost.com/TiffanyVPhan" target="_blank" class="text-color">DevPost</a> 
                    for a showcase of my projects.</p>
            </app-fade-in>
        </div>
        <!-- <app-card>hi</app-card> -->
    </div>
</div>
