.vh {
    height: 100vh;
}

.intro-text {
    line-height: 1.6;
    transition: 0.75s ease-out;
}

.intro-text.start {
    transform: translateY(100px);
    opacity: 0;
}

.highlight {
    position: relative;
    background-image: linear-gradient(to right, transparent 50%, var(--highlight) 50%);
    background-origin: 0;
    background-size: 200% 30%;
    background-repeat: repeat-x;
    background-position: -100% 80%;
    transition: background-position 0.8s ease-out;
    transition-delay: 0.5s;
}

.text-color {
    color: var(--pink);
}

.desc {
    font-size: 16px;
    font-weight: normal;
}

.top-margin {
    margin-top: 10%;
}

.wave {
    display: inline-block;
    cursor: grab;
    animation-duration: 0.2s;
    animation-name: wave;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 4;
}

.wave:hover {
    animation-iteration-count: infinite;
}

.card-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em 3em;
    margin-top: 4em;
}

.container {
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@media (min-width: 1037px) {
    .card-grid {
        /* grid-template-columns: repeat(auto-fill, 350px); */
    }
}

@media (min-width: 930px) and (max-width: 1036px) {
    .card-grid {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (min-width: 0px) and (max-width: 929px) {
    .header {
        font-size: 20px;
    }
    .top-margin {
        margin-top: 25%;
    }
    .subheader {
        font-size: 16px;
    }
    .card-grid {
        grid-template-columns: repeat(auto-fill, 350px);
    }
}

/* Galaxy Fold & iPhone 5/SE */
@media (min-width: 0px) and (max-width: 360px) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, 250px);
    }
}
