.bg {
    background-color: var(--main-background);
    height: 100vh;
}

.intro-text {
    line-height: 1.6;
    transition: 0.75s ease-out;
}

.intro-text.start {
    transform: translateY(100px);
    opacity: 0;
}

.highlight {
    position: relative;
    background-image: linear-gradient(to right, transparent 50%, var(--highlight) 50%);
    background-origin: 0;
    background-size: 200% 30%;
    background-repeat: repeat-x;
    background-position: -100% 80%;
    transition: background-position 0.8s ease-out;
    transition-delay: 0.5s;
}

.text-color {
    color: var(--pink);
}

.desc {
    font-size: 16px;
    font-weight: normal;
}

.droplet {
    /* height: 50px;
    width: 50px; */
    /* margin-right: 10px; */
    transition: all 3s;
    transition-timing: ease-in-out;
}

.droplet:hover {
    transform: rotate(1080deg);
}